.hero-card-background {
    /* background: linear-gradient(180deg, var(--clr-primary-1) 80%, white 20%); */
    background-color: rgba(73, 94, 87, 0.90);
    border-radius: .5rem;
}

.hero-image {
/* max-width: 383px; */
margin-left: auto;
margin-right: auto;
}

.offset-columns {
    display: grid;
    gap: var(--size-400);
}

@media (min-width: 50em) {
    .offset-columns {
        grid-auto-flow: column;
        grid-auto-columns: 6fr 8fr;
    }
}