* {
  box-sizing: border-box;
}

section {
  border-style: dotted;
  border-color: red;
}

.nav--main {
  display: flex;
  align-items: center;
  height: 90px;
  max-width: ;
  padding: 30px, 10px;
  border-style: dotted;
  border-color: red;
}

.nav--list {
  list-style-type: none;
  text-transform: uppercase;
}

.nav--list li {
  float: left;
  padding: 15px
}


.section--hero {
  background-color: #495E57;
}

.image--plateOfFood {
  height: 200px;
}

.section--about-card {
  background-color: #495E57;
}

.section--about-chefs {
  height: 200px;
}